@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(240, 197, 196);
    background-size: cover;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(3,31,91);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.Logo{
    background: none;
    border: none;
}

.menu a {
    position: relative;
    color: azure;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: azure;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.menu a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.menu .Logo_Login {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid azure;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: azure;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.menu .Logo_Login:hover {
    background: azure;
    color: black;
}